# Database Connection (Neon PostgreSQL or Local PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require

# Server Port
PORT=3000

# Allowed CORS Origin for Frontend
FRONTEND_URL=http://localhost:5173
